@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: inter;
        font-weight: 400;
        src: url("/fonts/opensans-light.ttf")
    }
    @font-face {
        font-family: inter;
        font-weight: 700;
        src: url("/fonts/opensans-semibold.ttf")
    }
}

body {
    @apply text-lg/7 font-light
}

h1 {
    @apply text-3xl md:text-4xl font-bold
}

h1.card:hover {
    @apply no-underline
}

h2 {
    @apply text-xl md:text-2xl font-normal
}

p a {
    @apply text-blue-500 underline
}


.nav-link {
    @apply text-2xl font-light border-b-2 border-white leading-6
}

.nav-link:hover {
    @apply underline text-blue-800 border-blue-800 no-underline border-b-2 dark:hover:border-blue-800
}

.nav-link.active {
    @apply text-blue-800 border-b-2 dark:border-gray-600
}

.hero-link {
    @apply border-b-2 border-gray-100 dark:border-gray-600 hover:text-blue-700 hover:border-blue-700
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);
    --step--1: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
    --step-2: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
    --step-3: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
    --step-4: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
    --step-5: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

    /* Custom pairs */
    --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --grid-max-width: 77.50rem;
    --grid-gutter: var(--space-s-l, clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem));
    --grid-columns: 12;
}

.u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
}

.u-grid {
    display: grid;
    gap: var(--grid-gutter);
}